<!DOCTYPE HTML>
<html>
    <head>
        <title><%= TITLE %></title>
        <meta name="author" content="Anton Pirogov" />
        <meta name="description" content="<%= TITLE %>" />
        <link href="<%= url('nodegame.css') %>" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1 id="title"><%= TITLE %></h1>
        <h2 id="lastndays">für <%= scores_for @days, @offset %></h2>
        <div>
        <span>Anzeigen für:</span>
        <a class="link" href="<%= url('/?days=7') %>">7 Tage</a>
        <a class="link" href="<%= url('/?days=14') %>">14 Tage</a>
        <a class="link" href="<%= url('/?days=30') %>">30 Tage</a>
        </div><div style="margin: 5px;">
        <a class="link" href="<%= url('/') %>">heute</a>
        <a class="link" href="<%= url('/?offset=1') %>">gestern</a>
        <a class="link" href="<%= url('/?offset=2') %>">vorgestern</a>
        <a class="link" href="<%= url('/?days=7&offset=7') %>">letzte Woche</a>
        </div>

        <h2 id="lastupd">Letztes Update <%= @lastupdate %></h2>
        <div>
            <table>
                <tr><th>#</th><th>Name</th><th>Letzter Status</th><th>Punkte</th></tr>
                <% @scores.each_with_index do |n,i| %>
                    <tr><td><%= i+1 %></td><td><%= n['name'] %></td>
                    <td>
                        <% if n['sc_offline']!=0 %>Off: <span class="neg"><%= n['sc_offline'] %></span><% end %>
                        <% if n['sc_gateway']!=0 %>Gw: <span class="pos">+<%= n['sc_gateway'] %></span><% end %>
                        <% if n['sc_clients']!=0 %>Client: <span class="pos">+<%= n['sc_clients'] %></span><% end %>
                        <% if n['sc_apples']!=0 %>Apple: <span class="neg"><%= n['sc_apples'] %></span><% end %>
                        <% if n['sc_meshs']!=0 %>Mesh: <span class="pos">+<%= n['sc_meshs'] %></span><% end %>
                        <% if n['sc_vpns']!=0 %>Vpn: <span class="pos">+<%= n['sc_vpns'] %></span><% end %>
                    </td>
                    <td><%= n['points'] %></td></tr>
                <% end %>
            </table>
        </div>
        <a class="footer link" href="<%= GRAPHLINK %>">Knotengraph</a>
        <span class="footer link">© 2012 Anton Pirogov</span>
        <a class="footer link" href="http://github.com/apirogov/ffnodegame">ffnodegame source</a>
    </body>
</html>
